main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "h h"
                        "as ar"
                        "f f";
}

header{
    grid-area: h;
}
article{
    grid-area: ar;
}
aside{
    grid-area: as;
}
footer{
    grid-area: f;
 
}

@media screen and (max-width: 800px) {
    main{
        display: grid;
        grid-template-columns:1fr;
        grid-template-areas: "h"
                            "ar"
                            "as"
                            "f";
                           
    }
     
    }
    

nav{
    background-color: darksalmon;

}

main{
    border: 2px black;
    border-color: black;
}
footer{
    border: 2px black;
}